@import '../../Helpers/helper.scss';

.support-form-success {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        color: $signal-red;
        margin-bottom: 50px;
    }
}