// colors
$grey: #f0f0f0;
$signal-red: #bf1650;
$primary: #44496D;
$secondary: #40a9ff;

$navigation-height: 64px;

/* 
mobile only media query with sass mixin
ant design breakpoints
xs	screen < 576px
sm	screen ≥ 576px
md	screen ≥ 768px
lg	screen ≥ 992px
xl	screen ≥ 1200px
xxl	screen ≥ 1600px

$xs: '480px'
$sm: '576px'
$md: '768px'
$lg: '992px'
$xl: '1200px'
$xxl: '1600px'
*/
$xs: 576px;
$xl: 1200px;

@mixin mobile-only {
  @media (max-width: $xs) { @content; }
}

@mixin desktop-and-bigger {
  @media (min-width: $xl) { @content; }
}