@import '../../Helpers/helper.scss';

.support-form-failed {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        color: $signal-red;
    }
}