@import '../../Helpers/helper.scss';

@include mobile-only {
    .header {
        padding: 0 !important;
    }
}

.header {
    font-size: calc(10px + 2vmin);
    display: flex;
    justify-content: space-between;
    .menu {
      flex: 0 0 auto;
      .ant-menu {
        background: $grey;
      }
    }
    .language-selection {
      flex: 0 0 auto;
    }
}

.language-selection {
    display: flex;
    align-items: center;
    .ant-select-selector {
        background: $grey;
    }
}