@import '../../Helpers/helper.scss';

.home {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        margin: 25px;
    }
    .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font-size: 1.2rem;
        }
    }
}