@import '~antd/dist/antd.css';
@import './Helpers/helper.scss';

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  
  .header {
    height: $navigation-height;
    width: 100%;
    flex: 0 0 auto;
  }

  .content {
    flex: 1;
    padding: 25px 50px;
    min-height: 280px;
    background: $grey;
    overflow: auto;
  }

  @include desktop-and-bigger {
    .content {
      min-width: 1440px;
      margin: auto;
    }
  }

  .footer {
    flex: 0 0 auto;
    text-align: center;
  }
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

[data-theme="dark"] .site-layout-content {
  background: #141414;
}

.flag {
  height: 100%;
  max-height: 40px;
}