@import '../../Helpers/helper.scss';

.support-form {
    display: flex;
    flex-direction: column;
    #title-row, #submit-row {
        margin: 25px 0;
    }
    .title {
        text-align: start;
    }
    .ant-col {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .field-group {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 50px;
        #textarea {
            flex: 1;
        }
        label {
            margin-bottom: 5px;
            font-weight: 300;
        }
        #description {
            flex: 1;
        }
        #submit {
            background: white;
            color: $secondary;
            border-color: $secondary;
            &:hover {
                background: $primary;
                color: white;
                border-color: white;
            }
        }
        #version {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            input:first-child {
                margin: 2px 5px 2px 0px;
            }
            input {
                width: 50px;
                margin: 2px 5px;
            }
        }
        .ant-select {
            width: 100%;
            text-align: start;
        }
    }
    @include mobile-only {
        .field-group {
            margin-bottom: 25px;
        }
        .title {
            text-align: center;
        }
    }
    .error-message {
        display: flex;
        align-items: center;
        text-align: start;
        color: $signal-red;
        margin-top: 5px;
        &::before {
            display: inline;
            content: "⚠ ";
            margin-right: 5px;
        }
    }
}